.title {
    height: 100vh;
    font-family: Brush Script MT;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;   
}

.title h1{
    color: #eee;
    font-size: 5rem;
    margin-bottom: 4rem;
    font-weight: 400;
}

.mouse{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20%;
}